<!DOCTYPE html>
<html>
  <head>
    <title>CARTE DE SCORE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>CARTE DE SCORE</h1>
    <h2>{{ hole }}</h2>
  </body>
</html>